<div class="container">
  <h1>Users</h1>
  <div class="users-list row" ng-repeat="user in users">
    <a href="/#!/users/{{user.id}}" >
    <dl>
    	<dt>First Name: </dt>
    	<dd>{{user.first_name}}</dd>
    </dl>
    <dl>
    	<dt>Last Name: </dt>
    	<dd>{{user.last_name}}</dd>
    </dl>
    </a>
    <button ng-click="deleteUser(user.id)">Delete</button>
  </div>
  <button ng-click="addUser($event)">Add user</button>
  <user-form class="invisible" ctrl="createUser" users="users" user="user"></user-form>
</div>